body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.material-icons.md-36 { font-size: 36px; }

.menubtn, .left .start, .login #loginbtn, .register a, .logo {
    cursor: pointer;
}

h1/* , .register a, .login, #submitbtn */ {
    font-family: 'Cinzel', serif;
}

a {
    text-decoration: none;
    color: #212121;
}

header {
    height: 60px;    
    width: 100%;
    background: #616161;
    color: #212121;
    padding: 20px 0 20px 0;
    display: grid;
    align-items: center;
    grid-template-columns: 10% 10% auto auto 10%;
    box-shadow: 2px 2px 10px white;    
}

.sidenav {
    height: 100vh;
    width: 0;
    max-width: 320px;
    background-color: #616161;
    position: fixed;
    top: 0;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.75);
    display: none;
}

#sidenavLink {
    margin: 100px 0 0 50px;
    font-size: 21px;
}

.menubtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    grid-column: 1 / 2;
}

.logo {
    height: 100%;
    background: url("/img/logo.svg") no-repeat;
    filter: drop-shadow(0 0 1px rgba(0,0,0,0.5));
    grid-column: 2 / 3;
    margin-left: 20px;
}

.login, .register, .profile, .logout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.login, .profile {
    justify-content: flex-end;
    grid-column: 4 / 5;
}

.register, .logout {
    grid-column: 5 / 6;
}

.register a {
    background: #FF9800;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    font-weight: bold;
}

.loginfield {
    font-family: 'Raleway', sans-serif;  
    padding: 5px;
    margin-right: 5px;
    border-radius: 2px;
    border: none;     
    width: 0;
}


#submitbtn {
    padding: 10px;
    margin: 0;
    background: #9E9E9E;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    cursor: pointer;
    font-size: 16px;
    border: none;
    font-stretch: normal;
}

#loginerror {
    display: flex;
    flex-direction: row;
    align-items: center;    
    color: yellow;
}

#loginerror p {
    margin: 0 5px 0 5px;
}

.login form {
    display: none;
}

#loginbtn {
    padding: 10px;
    margin: 0;
}

/* .login form input, .logout form input {
    padding: 5px;
    margin-right: 5px;
    border-radius: 2px;
    border: none;
} */

main {
    height: 100vh;
    width: 100%;
    background: #9E9E9E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#index {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 50px;
    margin: 50px;
    width: 80%;
    padding: 50px;
    border-radius: 2px;
    color: #212121;
}

.left, .left .welcome, .left .start {
    flex-direction: column;
}

.left, .left .welcome, .left .start {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.right {
    background: url("/img/template.PNG") center no-repeat;
    background-size: cover;
}

.left .welcome p {
    margin-top: 5px;
}

.left .start {
    background: #FF9800;
    padding: 10px;
    margin-top: 10px;
    border-radius: 2px;
    width: 80%;
    height: 50px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.75);
}

#toTopBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #FF9800;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

#app {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 100%;
    color: #212121;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #9E9E9E;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background: #616161;
    border-radius: 2px;
}

.control_panel {
    max-width: 25vw;
}

.control_panel .dmOptions div  {
    display: flex;
    flex-direction: row;
}

.control_panel .dmOptions div div  {
    display: flex;
    flex-direction: column;
}

.control_panel .dmOptions:nth-Child(n) .style, .control_panel .dmOptions:nth-Child(n) .content {
    display: flex;
    flex-direction: column;
}

.control_panel .dmOptions:nth-Child(n) .content {
    display: none;
    flex-direction: column;
}

.dmOptions p{
    display: inline;
}

.dmBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 auto;
    height: 50px;
    width: 80%;
    background: #757575;
    color: white;
}

/* [class*="Menu"], [class*="Opt"] {
    display: none;
} */

.dmMenu {
    width: 80%;
    margin: 0 auto;
    background: white;
}

.dmMenu p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #BDBDBD;
    border-radius: 2px;
}

.dmMenu .selected {
    background: #BDBDBD;
    color: white;
}

.dmMenu p:hover, .dmBtn:hover, .bgBtn:hover, .bgMenu {
    cursor: pointer;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #212121;
    color: #9E9E9E;
    height: 300px;
    width: 100%;
    bottom: 0;
}

/* REGISTER */

.register_main {
    height: 100vh;
    background: peachpuff;
}

.register_main .logo {
    width: 100px;
    height: 100px;
}

.register_main form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.register_main form input {
    height: 20px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;   
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.register_main form input[type="submit"] {
    height: auto;
    background: #FF9800;
    font-size: 21px;
    cursor: pointer;
}

.register_main a { 
    color: #616161;
    transition: color 1s;
}

.register_main a:hover { 
    color: #FF9800;
}

