body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.material-icons.md-36 { font-size: 36px; }

h1 {
    font-family: 'Cinzel', serif;
}

header {
    height: 80px;
    width: 100%;
    background-color: #3C81BD;
    padding: 10px 0 20px 0;
    display: grid;
    grid-template-columns: 10% 10% auto 10% 10%;
}

.sidenav {
    height: 100vh;
    width: 0;
    max-width: 256px;
    background-color: yellow;
    display: none;
}

.menubtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    font-size: 36px;
    grid-area: 0 0 1 1;
}

.logo {
    width: 10%;
    background: url("/img/logo.svg") no-repeat;
    filter: drop-shadow(0 0 1px rgba(0,0,0,0.5));
    grid-area: 0 1 1 2;
}

.login, .register {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    grid-area: 0 3 1 4;
}

.register {
    grid-area: 0 4 1 5;
}

main {
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #134E87;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin: 50px;
    width: 70%;
    height: 60%;
    background-color: #DDEBF0;
    padding: 50px;
    border-radius: 2px;
}

.left, .left .welcome, .left .start {
    flex-direction: column;
}

.right, .left, .left .welcome, .left .start {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.left .welcome {

}

.left .start {
    background-color: #4A84AE;
    padding: 10px;
    border-radius: 2px;
    width: 100%;
}


footer {
    height: 300px;
    width: 100%;
    background-color: black;
    bottom: 0;
}