<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Simple Company</title>
<link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header>
        <div id="logo">
            <h1><a href="index.html">My Simple Company</a></h1>
            <h2>Simple template design for your company.</h2>
        </div>
        <div id="menubar">
            <ul id="menu">
                <li id="first" class="selected">Home</li>
                <li id="second">Page 1</li>
                <li id="third">Page 2</li>
                <li id="forth">Page 3</li>
                <li id="last">Contact Us</li>
            </ul>
        </div>
    </header>
    <main>
        <aside>
            <h3>Place for News</h3>
            <h4>First News</h4>
            <h5>Month Day, Year</h5>
            <p>Write your news description over here...</p>
            <h4>Another News!</h4>
            <h5>Month Day, Year</h5>
            <p>Write down your text over here...</p>
            <h3>Links</h3>
            <ul>
                <li><a href="">Name of the website</a></li>
                <li><a href="">Or title of an article</a></li>
                <li><a href="">HSGH</a></li>
            </ul>
        </aside>
        <div id="content">
            <section class="first">
                <h1>Welcome to My Simple Company</h1>
                <p>In this pragraph you can write about your company, such as goal of the company or things you offer to the customers.</p>
                <p>You can use the keys to change the text format to <b>Bold</b>, <strong>Important</strong>, <i>Italic</i>, <sub>Subscript</sub> and <sup>Superscript</sup> if you want</p>
                <p>When you link, you need to write down where you want the user to be linked to, and what browser shows the user.</p>
                <p>For example: <a href="google.com">Google</a></p>
                <h1>Credit</h1>
                <p>This template is an original HSGH template, done by the website developers.</p>
                <p>Copyright © HSGH</p>
                <h1>Some More Important Stuff</h1>
                <p>Nulla facilisi. Sed porta scelerisque nibh. Morbi suscipit et est eget vulputate. Fusce vulputate nec nulla et egestas. Morbi et lacus quam. Nullam mollis egestas quam, ac convallis ipsum dapibus in. Etiam fringilla tellus ut dui laoreet, sit amet faucibus quam faucibus. Sed tempor velit at metus accumsan sodales. Duis eget erat eget ante ullamcorper viverra. Mauris lorem mauris, hendrerit et blandit vel, facilisis nec massa. Curabitur tortor ipsum, varius ac sapien et, scelerisque euismod erat. Suspendisse sodales lorem a mi luctus, quis finibus eros feugiat. Vestibulum pretium turpis erat, eget ornare dui tempor et. Vivamus pharetra diam metus, vel gravida metus mattis et.</p>
                <p>Sed ut vestibulum sapien. Sed gravida nibh in quam porttitor consectetur. Nulla lacinia pharetra odio ac tempor. Quisque porta libero et dui lobortis tincidunt. Donec egestas porta tellus id rhoncus. Duis eu quam feugiat justo accumsan venenatis. Aliquam sem sapien, aliquet vitae diam eu, fringilla facilisis ex. Proin tincidunt elit ac sem eleifend ullamcorper. Suspendisse pulvinar bibendum sapien ac sagittis.</p>
            </section>

            <section class="second">
                <h1>Text Section</h1>
                <p>Nulla facilisi. Sed porta scelerisque nibh. Morbi suscipit et est eget vulputate. Fusce vulputate nec nulla et egestas. Morbi et lacus quam. Nullam mollis egestas quam, ac convallis ipsum dapibus in. Etiam fringilla tellus ut dui laoreet, sit amet faucibus quam faucibus. Sed tempor velit at metus accumsan sodales. Duis eget erat eget ante ullamcorper viverra. Mauris lorem mauris, hendrerit et blandit vel, facilisis nec massa. Curabitur tortor ipsum, varius ac sapien et, scelerisque euismod erat. Suspendisse sodales lorem a mi luctus, quis finibus eros feugiat. Vestibulum pretium turpis erat, eget ornare dui tempor et. Vivamus pharetra diam metus, vel gravida metus mattis et.</p>
                <p>Sed ut vestibulum sapien. Sed gravida nibh in quam porttitor consectetur. Nulla lacinia pharetra odio ac tempor. Quisque porta libero et dui lobortis tincidunt. Donec egestas porta tellus id rhoncus. Duis eu quam feugiat justo accumsan venenatis. Aliquam sem sapien, aliquet vitae diam eu, fringilla facilisis ex. Proin tincidunt elit ac sem eleifend ullamcorper. Suspendisse pulvinar bibendum sapien ac sagittis.</p>
                <h1>List Section</h1>
                <p>This is an unordered list:</p>
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                </ul>
                <p>This is an ordered list:</p>
                <ol>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                </ol>
                <h1>Image Section</h1>
                <p>images can be placed on the left, in the center or on the right:</p>
                <span class="left"><img src="https://picsum.photos/g/100/100?image=7"></span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                </p>
                <span class="center"><img src="https://picsum.photos/g/100/100?image=1"></span>
                <span class="right"><img src="https://picsum.photos/g/100/100?image=4"></span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <h1>Table Section</h1>
                <p>Tables should be used to display data and not used for laying out your website:</p>
                <table>
                    <tr>
                        <th>Item</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>Item 1</td>
                        <td>Description of Item 1</td>
                    </tr>
                    <tr>
                        <td>Item 2</td>
                        <td>Description of Item 2</td>
                    </tr>
                    <tr>
                        <td>Item 3</td>
                        <td>Description of Item 3</td>
                    </tr>
                    <tr>
                        <td>Item 4</td>
                        <td>Description of Item 4</td>
                    </tr>
                </table>
            </section>

            <section class="third">
                <h1>Full Text Page</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
            </section>

            <section class="forth">
                <h1>Text and Image Page</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                <img src="https://picsum.photos/g/595/400?image=10">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui</p>
                <p><span class="right"><img src="https://picsum.photos/g/250/200?image=12"></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                <p><span class="left"><img src="https://picsum.photos/g/300/250?image=33"></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
            </section>

            <section class="last">
                <h1>Contact Us</h1>
                <p>Here you write down things like your phone number or email adress:</p>
                <p>Email us: example@example.com</p>
                <p>...Or...</p>
                <p>Call us: 000000000</p>
                <img src="https://picsum.photos/g/595/800?image=31">
            </section>
        </div>
    </main>
    <footer>
        <p>This website was made using <a href="#">HSGH</a></p>
    </footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./js/script.js"></script>

</html>
